[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FRASER"]
	path = FRASER
	url = https://github.com/gagneurlab/fraser
[submodule "OUTRIDER"]
	path = OUTRIDER
	url = https://github.com/gagneurlab/outrider
